<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>addPost</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" href="../css/materialize.min.css">
		<link rel="stylesheet" href="../css/styling.css">
	  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>
	<body>
		<nav>
	    <div class="nav-wrapper">
	      <a href="#" class="brand-logo ml2">Logo</a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	        <li><a class="waves-effect waves-light btn-large ml2">Login</a></li>
	        <li><a class="waves-effect waves-light btn-large ml2">Signup</a></li>
	      </ul>
	    </div>
	  </nav>
		<div class="section">
			<div class="container">
				<form>
					<div class="row">
	      		<div class="input-field col s12">
	          	<textarea id="textarea1"  class="materialize-textarea add-title"></textarea>
	          	<label for="textarea1">Add Title</label>
	        	</div>
	        </div>
					<div class="row">
	      	 <div class="input-field col s12">
	          <textarea id="textarea2" rows="10" class="materialize-textarea add-body " placeholder="Tell a freaking story"></textarea>
	          <label for="textarea2">Body</label>
	         </div>
	        </div>
		      <div class="row">
		        <div class="input-field col s12 m6">
		          <input id="topic" type="text" class="validate">
		          <label for="topic">Topic</label>
		        </div>
		        <div class="input-field col s12 m6">
		          <input id="tag" type="text" class="validate">
		          <label for="tagc">Tag</label>
		        </div>
		      </div>
		      <button class="btn waves-effect waves-light submit-btn" type="submit" name="action">Submit
	  			</button>
  			</form>
	    </div>
		<footer class="page-footer">
		  <div class="container">
		    <div class="row">
		      <div class="col l6 s12">
		        <h5 class="white-text">Footer Content</h5>
		        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
		      </div>
		      <div class="col l4 offset-l2 s12">
		        <h5 class="white-text">Links</h5>
		        <ul>
		          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
		          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
		          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
		          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
		        </ul>
		      </div>
		    </div>
		  </div>
		  <div class="footer-copyright">
		    <div class="container">
		    © 2016 Copyright Text
		    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
		    </div>
		  </div>
	</footer>
  <script src="../js/jquery.js"></script>
  <script src="../js/materialize.min.js"></script>
	</body>
</html>