<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Post</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" href="../css/materialize.min.css">
	<link rel="stylesheet" href="../css/styling.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
	<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo ml2">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="waves-effect waves-light btn-large ml2">Login</a></li>
        <li><a class="waves-effect waves-light btn-large ml2">Signup</a></li>
      </ul>
    </div>
  </nav>

	<div class="section">
		<div class="row">
			<div class="container line-width">
				<div class="story-head center-align mb2">
    	 		<h1 class="story-title">This is a Post !</h1>
    	 		<h3 class="story-author">Author's Name</h3>
    	 	</div>
    	 	<div class="story-body mb2">
    	 		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto dolores expedita quos libero iusto repudiandae incidusnt pariatur, dicta in tempora aut aspernatur corporis corrupti veritatis accusamus rerum dolore nesciunt officia dignissimos alias ipsa. Asperiores aspernatur, ipsum quam quas veritatis voluptates quaerat dicta ea nostrum culpa. Consequatur obcaecati iure magnam atque voluptatem, quae corrupti quasi ea temporibus tempore. Veritatis quia placeat quas facilis sit amet repellendus ipsum sapiente cumque, suscipit, esse repudiandae laudantium harum perspiciatis tempore corporis est a animi, quis voluptate repellat fugit! Possimus illo deleniti, repudiandae quia excepturi ab quis delectus tempore necessitatibus reiciendis voluptatem. Quos, ex repellat ratione.
    	 		Lorem ipsum dolor sit amet, consectetur adipisicing elit. At maiores aliquam in, tempora minus aliquid quo eos delectus, sunt voluptas expedita obcaecati ut eius ipsam qui dignissimos accusamus accusantium recusandae totam nulla asperiores eum alias culpa, vero! Laborum tenetur commodi sed, alias deserunt veritatis nam optio, accusantium sint maiores culpa.
    	 	</div>
				<div class="story-foot mb3">
          <a href="#" class="icons timestamp">last saved kal</a>
          <a href="#" class="waves-effect waves-light btn-small right-align icons">
          	<i class="small material-icons green-text text-accent-3">star_border</i>
          	<span class="number">56</span>
          </a>
          <a href="#" class="waves-effect waves-light btn-small right-align icons">
          	<i class="small material-icons green-text text-accent-3">comment</i>
          	<span class="number">3</span>
          </a>
				</div>
				<div class="section mb2">
			  	<div class="row">
				    <form class="col s12">
				      <div class="row">
				        <div class="input-field col s12 card comm-input">
				          <img src="sdkjbvkbj" alt="" class="circle comm-image prefix" />
				          <input id="icon_prefix" type="text" class="validate ml4" >
				          <label for="icon_prefix" class="ml4">Comment</label>
				          <button class="btn waves-effect waves-light submit-btn pos-absolute" type="submit" name="action">
										submit
								  </button>
				        </div>
				      </div>
				    </form>
				  </div>
			  </div>
        <span>
      		<ul class="collection comments">
 						<li class="collection-item avatar card-panel mb3">
							<img src="images/yuna.jpg" alt="" class="circle">
							<span class="title">Title</span>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ut odit odio, reiciendis possimus blanditiis fugiat temporibus est delectus rem?</p> 
							<a href="#!" class="secondary-content"><i class="material-icons green-text text-accent-3">star_border</i></a>
						</li>
						<li class="collection-item avatar card-panel mb3">
							<img src="images/yuna.jpg" alt="" class="circle">
							<span class="title">Title</span>
								<p>First Line</p> 
							<a href="#!" class="secondary-content"><i class="material-icons green-text text-accent-3">star_border</i></a>
						</li>
					</ul>
      	</span>
  	   </div>
      </div>
    </div>
	</div>
</div>
</div>

	<footer class="page-footer">
	  <div class="container">
	    <div class="row">
	      <div class="col l6 s12">
	        <h5 class="white-text">Footer Content</h5>
	        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
	      </div>
	      <div class="col l4 offset-l2 s12">
	        <h5 class="white-text">Links</h5>
	        <ul>
	          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
	          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
	          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
	          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
	        </ul>
	      </div>
	    </div>
	  </div>
	  <div class="footer-copyright">
	    <div class="container">
	    © 2016 Copyright Text
	    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
	    </div>
	  </div>
	</footer>
            
  <script src="../js/jquery.js"></script>
  <script src="../js/materialize.min.js"></script>

</body>
</html>